$def with (title, msg_lookup_fn, hdr_links)

$ instance_name = msg_lookup_fn('instance_name')
$ logout_label = msg_lookup_fn('logout_label')

<!DOCTYPE html>

<html ng-app="trpl">

<head>
    <meta name="referrer" content="never">

    <title>$title</title>

    <link href="static/third-party-libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/third-party-libs/bootstrap-themes/darkstrap-v0.9.0.css" rel="stylesheet" type="text/css">
    <link href="static/tripelstyle.css" rel="stylesheet" type="text/css">

    <!-- used by both cytoscape and angular -->
    <script src="static/third-party-libs/jquery-1.9.1.js" type="text/javascript"></script>
    
    <script src="static/third-party-libs/cytoscape/cytoscape.js" type="text/javascript"></script>
    <script src="static/third-party-libs/cytoscape/arbor.js" type="text/javascript"></script>
    
    <script src="static/third-party-libs/angular/angular.js" type="text/javascript"></script>
    <script src="static/third-party-libs/angular/angular-resource.js" type="text/javascript"></script>
    <script src="static/third-party-libs/angular-ui-router.js" type="text/javascript"></script>
    <script src="static/third-party-libs/i18next/i18next.js" type="text/javascript"></script>
    <script src="static/third-party-libs/ng-i18next/ng-i18next.js" type="text/javascript"></script>
    <script src="get_locale_messages?modeselektion=json_assigned&js_var_name=window.trplLocaleMsgs" type="text/javascript"></script>
    <script src="static/trpl-ng.js" type="text/javascript"></script>
</head>


<body>

$if hdr_links is not None:
    <div class="hdr-links">
		$for link in hdr_links:
			<a href="$link['url']">$link['display_text']</a>
    </div>

<h1>
$instance_name
</h1>

<div ui-view></div>


<footer>

</footer>

</body>
</html>