$def with (cat_tree_json)

<div id="hello_cytograph" style="width:700px;height:350px;"></div>

<script type="text/javascript">
$$(function(){
    $$('#hello_cytograph').cytoscape({
                            style: cytoscape.stylesheet()
                                    .selector('node')
                                        .css({
                                            'content': 'data(name)',
                                            'shape': 'ellipse'
                                        })
                                    .selector('edge')
                                        .css({
                                            'target-arrow-shape': 'triangle'
                                        }),
                            layout: {name: 'breadthfirst'},
                            elements: $:cat_tree_json
                        });
});
</script>
