/*TODO: have background and text color differ for metaspace admin pages vs all other pages*/
body {
//background-color: #2B3942;
//color: #CCDEC5;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:79%;
line-height:100%;
}

label {
font-family: "Lucida Console", Monaco, monospace;
}

h1 {
font-style: italic;
font-size:2.2em;
//padding:5px;
}

//a:link {color: #818C7C;}
//a:visited {color: #818C7C;}
//a:hover {color: #ACBAA5;}
//a:active {color: #ACBAA5;}

.hdr-links {
float: right;
}

.nav-links {
//padding:5px;
}

.content-summary {
text-align:center;
font-size:1.4em;
//padding-top:20px;
//padding-bottom:10px;
}

.cmd-links {
//padding:20px;
}

table {
font-size:inherit;
}

table.basic-table {
border-collapse:collapse;
font-size:inherit;
}

table.basic-table th, table.basic-table td {
border: 1px solid black;
//padding:2px;
font-size:inherit;
}
