<div ng-show="updateStatus.encounteredUpdateError != null">
    <div class="alert alert-error" ng-show="updateStatus.encounteredUpdateError == true">
        <span ng-i18next="nodespace_info_edit_error_msg"></span>
    </div>
    <div class="alert alert-success" ng-show="updateStatus.encounteredUpdateError == false">
        <span ng-i18next="nodespace_info_edit_success_msg"></span>
    </div>
</div>

<div ng-show="createStatus.encounteredCreateError != null">
    <div class="alert alert-error" ng-show="createStatus.encounteredCreateError == true">
        <span ng-i18next="nodespace_create_error_msg"></span>
    </div>
    <div class="alert alert-success" ng-show="createStatus.encounteredCreateError == false">
        <span ng-i18next="nodespace_create_success_msg"></span>
    </div>
</div>

<form class="form-inline" ng-submit="submitForm();">
    <label>
        <span ng-i18next="create_ns_form_nsname"></span><br>
        <input type="text" name="nodespace_name" ng-model="nodespaceInfo.nodespace_name"/>
    </label>
    <br><br>
    
    <label>
        <span ng-i18next="create_ns_form_ns_desc"></span><br>
        <textarea name="nodespace_description" ng-model="nodespaceInfo.nodespace_description"></textarea>
    </label>
    <br><br>
    
    <button class="btn btn-inverse btn-small"><span ng-i18next="{{submitBtnContentKey}}"></button>
</form>
