<div ng-show="createStatus.encounteredCreateError != null">
    <!-- TODO: would be nice to get this working with ng-class -->
    <div class="alert alert-error" ng-show="createStatus.encounteredCreateError == true">
        {{createStatus.statusMessage}}
    </div>
    <div class="alert alert-success" ng-show="createStatus.encounteredCreateError == false">
        {{createStatus.statusMessage}}
    </div>
</div>

<form class="form-inline" ng-submit="submitForm();">
    <label>
        <span ng-i18next="create_inv_email_addr"></span><br>
        <input type="text" name="invitee_email_addr" ng-model="invitationInfo.invitee_email_addr"/>
    </label><br>
    <br>
    
    <!-- TODO: switch to nodespace_access_checkboxes.html template by building a directive with it -->
    <span ng-repeat="priv in privilegeInfo.grantablePrivileges">
        <label class="checkbox">
            <input type="checkbox" name="nodespace_privileges" ng-model="invitationInfo.selectedNodespacePrivileges[priv]"/>
            <span ng-i18next="{{priv}}_priv_title"></span>: <span ng-i18next="{{priv}}_priv_desc"></span>
        </label><br>
    </span><br>
    <br>
    
    <label>
        <span ng-i18next="create_ns_inv_msg"></span><br>
        <textarea rows="3" cols="40" name="invitation_msg" ng-model="invitationInfo.invitation_msg"></textarea>
    </label><br>
    <br>
    
    <button class="btn btn-inverse btn-small"><span ng-i18next="create_inv_submit_btn"></span></button>
</form>