<div ng-show="createStatus.encounteredCreateError != null">
    <!-- TODO: would be nice to get this working with ng-class -->
    <div class="alert alert-error" ng-show="createStatus.encounteredCreateError == true">
        {{createStatus.statusMessage}}
    </div>
    <div class="alert alert-success" ng-show="createStatus.encounteredCreateError == false">
        {{createStatus.statusMessage}}
    </div>
</div>

<form class="form-inline" ng-submit="submitForm();">
    <label>
        <span ng-i18next="create_inv_email_addr"></span><br>
        <input type="text" name="invitee_email_addr" ng-model="invitationInfo.invitee_email_addr"/>
    </label>
    <br><br>
    
    <!-- TODO: would be nice to get the checkboxes working with ng-repeat -->
    <label class="checkbox" ng-show="privilegeInfo.grantablePrivileges.indexOf('create_space') >= 0">
        <input type="checkbox" name="metaspace_privileges" ng-model="invitationInfo.selected_metaspace_privileges['create_space']"/>
        <span ng-i18next="create_space_priv_title"></span>: <span ng-i18next="create_space_priv_desc"></span>
    </label><br>
    <label class="checkbox" ng-show="privilegeInfo.grantablePrivileges.indexOf('create_user') >= 0">
        <input type="checkbox" name="metaspace_privileges" ng-model="invitationInfo.selected_metaspace_privileges['create_user']"/>
        <span ng-i18next="create_user_priv_title"></span>: <span ng-i18next="create_user_priv_desc"></span>
    </label><br>
    <label class="checkbox" ng-show="privilegeInfo.grantablePrivileges.indexOf('super') >= 0">
        <input type="checkbox" name="metaspace_privileges" ng-model="invitationInfo.selected_metaspace_privileges['super']"/>
        <span ng-i18next="super_priv_title"></span>: <span ng-i18next="super_priv_desc"></span>
    </label><br>
    <br>
    
    <label>
        <span ng-i18next="create_ms_inv_msg"></span><br>
        <textarea rows="3" cols="40" name="invitation_msg" ng-model="invitationInfo.invitation_msg"></textarea>
    </label>
    <br><br>
    
    <button class="btn btn-inverse btn-small"><span ng-i18next="create_inv_submit_btn"></span></button>
</form>