<div class="tab-pane active">
    <div ng-show="userListData.selectedRowId != null">
        <a href="javascript:void(0)" ng-click="unselectUser()">&#10218; <span ng-i18next="users_show_all_label"></span></a>
        <br><br>
    </div>
    
    <table class="table table-bordered table-condensed">
        <tr>
            <th><span ng-i18next>username_col_hdr</span></th>
            <th><span ng-i18next>email_addr_label</span></th>
            <th><span ng-i18next>user_statement_col_hdr</span></th>
            <th><span ng-i18next>metaspace_privileges_col_hdr</span></th>
            <th><span ng-i18next>is_enabled_col_hdr</span></th>
            <th><span ng-i18next>creator_col_hdr</span></th>
            <th><span ng-i18next>creation_date_col_hdr</span></th>
            <th><span ng-i18next>modifier_col_hdr</span></th>
            <th><span ng-i18next>modification_date_col_hdr</span></th>
        </tr>
        
        <tbody>
            <tr ng-repeat="user in userListData.rowList" ng-show="userListData.selectedRowId == null || userListData.selectedRowId == user.user_id">
                <td><a href="{{urlHashBase + '/' + user.user_id}}">{{user.username}}</a>&nbsp;</td>
                <td>{{user.email_addr}}&nbsp;</td>
                <td>{{user.user_statement}}&nbsp;</td>
                <td>{{user.metaspace_privileges}}&nbsp;</td>
                <td>{{user.is_enabled}}&nbsp;</td>
                <td>{{user.creator}}&nbsp;</td>
                <td>{{user.creation_date}}&nbsp;</td>
                <td>{{user.modifier}}&nbsp;</td>
                <td>{{user.modification_date}}&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <div ui-view></div>
</div>
