<!--TODO: get display name for editing user and edited user and just refer to them that way in the UI (instead of as "logged in" and "edited" -->

<div ng-show="updateStatus.encounteredUpdateError != null">
    <div class="alert alert-error" ng-show="updateStatus.encounteredUpdateError == true">
        <span ng-i18next="user_password_edit_error_msg"></span><br>
        {{updateStatus.errorMsg}}
    </div>
    <div class="alert alert-success" ng-show="updateStatus.encounteredUpdateError == false">
        <span ng-i18next="user_password_edit_success_msg"></span>
    </div>
</div>

<form class="form-inline" ng-submit="submitPasswordChangeForm();">
    
    <label>
        <span ng-i18next="confirm_password_label"></span><br>
        <input type="password" name="editing_user_cleartext_password" ng-model="pwInfo.editing_user_cleartext_password"/>
    </label>
    <br><br>
    
    <label>
        <span ng-i18next="new_password_label"></span><br>
        <input type="password" name="cleartext_password_1" ng-model="pwInfo.cleartext_password_1"/>
    </label>
    <br><br>
    
    <label>
        <span ng-i18next="reenter_password_label"></span><br>
        <input type="password" name="cleartext_password_2" ng-model="pwInfo.cleartext_password_2"/>
    </label>
    <br><br>
    
    <button class="btn btn-inverse btn-small"><span ng-i18next="user_change_password_submit_btn"></span></button>
</form>