<statusmessage should-show-msg="{{statusMsgInfo.shouldShowMsg}}" status-type="{{statusMsgInfo.statusType}}" status-msg="{{statusMsgInfo.statusMsg}}"></statusmessage>

<form class="form-inline" ng-submit="submitEditForm();">
    
    <label>
        <span ng-i18next="username_label"></span><br>
        <input type="text" name="username" ng-model="userInfo.username"/>
    </label>
    <br><br>
    
    <label>
        <span ng-i18next="email_addr_label"></span><br>
        <input type="text" name="email_addr" ng-model="userInfo.email_addr"/>
    </label>
    <br><br>
    
    <label>
        <span ng-i18next="user_statement_blurb"></span><br>
        <textarea name="user_statement" ng-model="userInfo.user_statement"></textarea>
    </label>
    <br><br>
    
    <button class="btn btn-inverse btn-small"><span ng-i18next="user_info_edit_submit_btn"></span></button>
    
</form>